<div class="container">
  <div class="row">
    <h4>
      <%=@test.title %> questions:
      <%= link_to "Add new question", new_test_question_path, class: "btn waves-effect waves-light blue right" %>
    </h4>
  </div>
  <ul class="collection with-header">
    <% @questions.each do |question| %>
    <li class="collection-item">
      <ul>
        <a href=<%=question_path(question) %>><%= question.text %></a>
        <a href=<%=question_path(question) %> data-method="delete" class="secondary-content">
          <i class="material-icons blue-text">delete</i>
        </a>
      </ul>
    </li>
    <% end %>

  </ul>
</div>