<div class="row" style="margin-top: 20px;">

  <%= form_with model: [:admin, @test, @question] do |f| %>
  <div class="input-field col s6">
    <%= f.label "Question text"%>
    <%= f.text_field :text %>
    <%= link_to 'Back', admin_test_path(@question.test), class: "btn blue" %>
    <%= f.submit "#{@question.new_record? ? 'Create' : 'Change'}", class: "btn blue" %>
  </div>

  <% end %>
</div>