<h3>Question <%=@question.id %></h3>
<div class="row">
  <%=@question.text %>
</div>

<h4>Answers
  <%= link_to "Add new answer", new_admin_question_answer_path(@question), class: "btn waves-effect waves-light blue right" %>
</h4>

<ul class="collection with-header">
  <%= render @question.answers %>
</ul>

<%= link_to "Back to questions", admin_test_path(@question.test), class: "btn blue" %>