<tr>
  <td>
    <%= link_to test.title, admin_test_path(test) %>
    <%= render 'form_inline', test: test == @test ? @test : test %>
  </td>
  <td>
    <span><%= test.level %></span>
  </td>
  <td>
    <span><%= test.category.title %></span>
  </td>
  <td>
    <%= link_to "View", admin_test_path(test), class: 'btn blue'%>
    <%= link_to "Edit", edit_admin_test_path(test), class: 'btn blue'%>
    <%= link_to "Delete", admin_test_path(test), method: :delete, class: 'btn blue'%>
  </td>
</tr>