<tr>
  <td>
    <%= tag.span test.title, class: 'test-title', data: { test_id: test.id } %>
    <a class="btn-floating btn-small blue right">
      <%= tag.i "edit", class: "form-inline-btn material-icons", data: { test_id: test.id } %>
    </a>

    <%= render 'form_inline', test: test == @test ? @test : test %>
  </td>
  <td>
    <span><%= test.level %></span>
  </td>
  <td>
    <span><%= test.category.title %></span>
  </td>
  <td>
    <%= link_to "View", admin_test_path(test), class: 'btn blue'%>
    <%= link_to "Edit", edit_admin_test_path(test), class: 'btn blue'%>
    <%= link_to "Delete", admin_test_path(test), method: :delete, class: 'btn blue'%>
  </td>
</tr>