<li class="collection-item">
  <div class="collection-cell">
    <%= link_to test.title, admin_test_path(test) %>

    <span>level: <%= test.level %></span>

    <span>category: <%= test.category.title %></span>

  </div>

  <div class="collection-cell">
    <%= link_to "Edit", edit_admin_test_path(test), method: :delete, class: 'secondary-content btn blue'%>
    |
    <%= link_to "Delete", admin_test_path(test), method: :delete, class: 'secondary-content btn blue'%>
  </div>
</li>