<li class="collection-item">
  <%= link_to test.title, test_path(test) %>

  <span>level: <%= test.level %></span>

  <span>category: <%= test.category.title %></span>

  <a href=<%=test_path(test) %> data-method="delete" class="secondary-content">
    <i class="material-icons blue-text">delete</i>
  </a>
  <a href=<%=edit_test_path(test) %> class="secondary-content">
    <i class="material-icons blue-text">mode_edit</i>
  </a>
</li>