<li class="collection-item">
  <div class="collection-cell">
    <%= link_to test.title, test_path(test) %>

    <span>level: <%= test.level %></span>

    <span>category: <%= test.category.title %></span>

  </div>

  <div class="collection-cell">
    <%= button_to 'Start', start_test_path(test), class: 'btn blue btn-start' %>
    <a href=<%=edit_test_path(test) %> class="secondary-content">
      <i class="material-icons blue-text">mode_edit</i>
    </a>

    <a href=<%=start_test_path(test) %> class="secondary-content">
      <i class="material-icons blue-text">delete</i>
    </a>
  </div>
</li>